@import "../../_mixins.scss";

#projects {
  background: #f2f2f2;
}

.projects__grid-item,
.projects__grid-wrap,
.projects__grid-title {
  margin: 1rem;
  border-radius: 1rem;
  transition: 0.25s;
  cursor: pointer;
}

.projects__title {
  text-align: center;
  padding-top: 5rem;
  font-family: "Lora", serif;
  font-size: 3.2rem;
}

.projects__projects-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects__grid-item {
  width: 30rem;
  height: 25rem;
  object-fit: cover;
}

.projects__grid-wrap {
  position: relative;
  width: auto;
  height: auto;
}

.projects__grid-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  font-family: 'Arvo', serif;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.projects__grid-wrap:hover .projects__grid-title {
  visibility: visible;
  opacity: 1;
  box-shadow: 0 0.5rem 1rem #a3a3a3;
}
