.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5; }

.modal {
  position: fixed;
  z-index: 500;
  background: white;
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.modal__grid {
  border: 1px solid blue;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: auto;
  height: auto;
  margin: 0 auto; }

@media (max-width: 450px) {
  .modal__grid {
    width: 90%;
    height: 400px; } }

.modal__close {
  border: 1px solid red;
  background: var(--primary);
  color: var(--primary);
  grid-column: 1 / 4;
  text-align: center;
  padding: 1rem;
  transition: 0.25s; }

.modal__close i {
  color: white;
  font-size: 3rem;
  vertical-align: middle; }

.modal__close i:hover {
  color: var(--secondary);
  transition: 0.25s;
  animation: jello-vertical 0.75s both; }

.modal__project-picture {
  grid-column: 1 / 2;
  grid-row: 2 / 7;
  -ms-flex-item-align: center;
  align-self: center; }

.modal__project-picture img {
  height: 250px;
  width: auto;
  padding: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

@media (max-width: 450px) {
  .modal__project-picture img {
    width: auto;
    height: 150px; } }

.modal__project-title {
  grid-column: 2 / 4;
  padding-top: 15px; }

@media (max-width: 450px) {
  .modal__project-title h2 {
    font-size: 1.25rem; } }

.modal__project-description {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  width: 90%; }

@media (max-width: 450px) {
  .modal__project-description p {
    font-size: 0.75rem; } }

.modal__project-tech {
  grid-column: 2 / 3;
  width: 100px; }

@media (max-width: 450px) {
  .modal__project-tech h4 {
    font-size: 1.25rem; } }

.modal__project-tech-description {
  grid-column: 3 / 4;
  width: 250px;
  padding-right: 10px; }

@media (max-width: 450px) {
  .modal__project-tech-description p {
    font-size: 0.75rem; } }

.modal__project-links {
  grid-column: 2 / 3; }

@media (max-width: 450px) {
  .modal__project-links h4 {
    font-size: 1.25rem; } }

.modal__project-links-description {
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; }

.modal__project-links-description a {
  color: var(--primary); }

.modal__project-links-description a:hover {
  color: var(--secondary); }

@media (max-width: 450px) {
  .modal__project-links-description a {
    font-size: 0.75rem; } }

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1); }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1); }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
