@import "../../../../_mixins.scss";

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.modal {
  position: fixed;
  z-index: 500;
  background: white;
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.modal__grid {
  border-radius: 1rem;
  // padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: auto;
  height: auto;
  margin: 0 auto;
  @include respond-to("small") {
    width: 90%;
    height: 400px;
  }
}

.modal__close {
  background: var(--primary);
  color: var(--primary);
  text-align: center;
  padding: 1rem;
  transition: 0.25s;
  & i {
    color: white;
    font-size: 3rem;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      color: var(--secondary);
      transition: 0.25s;
      animation: jello-vertical 0.75s both;
    }
  }
  & h1 {
    color: white;
    position: relative;
    margin-top: 2rem;
  }
}

.modal__project-container {
  border: 1px solid red;
  width: auto;
  padding: 1rem;
}

.modal__project-picture {
  grid-column: 1 / 2;
  grid-row: 2 / 7;
  -ms-flex-item-align: center;
  align-self: center;
}

.modal__project-picture img {
  height: 25rem;
  width: 100%;
  align-items: center;
  object-fit: contain;
  transition: 0.25s;
}

.modal__project-title {
  grid-column: 2 / 4;
  padding-top: 15px;
}
.modal__project-title h2 {
  @include respond-to("small") {
    font-size: 1.25rem;
  }
}

.modal__project-description {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  width: 90%;
}
.modal__project-description p {
  @include respond-to("small") {
    font-size: 0.75rem;
  }
}

.modal__project-tech {
  grid-column: 2 / 3;
  width: 100px;
}
.modal__project-tech h4 {
  @include respond-to("small") {
    font-size: 1.25rem;
  }
}

.modal__project-tech-description {
  grid-column: 3 / 4;
  width: 250px;
  padding-right: 10px;
}
.modal__project-tech-description p {
  @include respond-to("small") {
    font-size: 0.75rem;
  }
}

.modal__project-links {
  grid-column: 2 / 3;
}
.modal__project-links h4 {
  @include respond-to("small") {
    font-size: 1.25rem;
  }
}

.modal__project-links-description {
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  & a {
    color: var(--primary);
    &:hover {
      color: var(--secondary);
    }
  }
}
.modal__project-links-description a {
  @include respond-to("small") {
    font-size: 0.75rem;
  }
}

//Animations
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
