@import '../../../../_mixins.scss';

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: rgba(0,0,0,0.6);
  z-index: 5;
}

.modal {
  position: fixed;
  z-index: 500;
  background: whitesmoke;
  width: 400px;
  height: 710px;
  top: 50%;
  left: 50%;
  padding-bottom: 25px;
  display: block;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.8);
  -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  // @include respond-to('xl') {
  //   padding-bottom: 25px;
  //   width: 400px;
  //   height: 710px;
  //   margin: 0 auto;
  // }
}

.modal-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 400px;
  height: 650px;
  margin: 0 auto;
  // @include respond-to('xl') {
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   -webkit-box-orient: vertical;
  //   -webkit-box-direction: normal;
  //       -ms-flex-direction: column;
  //           flex-direction: column;
  //   -webkit-box-align: center;
  //       -ms-flex-align: center;
  //           align-items: center;
  //   text-align: center;
  //   width: 400px;
  //   height: 650px;
  //   margin: 0 auto;
  // }
}

.close-modal {
  color: var(--primary);
  font-size: 2rem;
  grid-column: 1 / 4;
  text-align: right;
  padding: 0px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  & i {
    font-size: 32px;
    font-size: 2rem;
    vertical-align:middle;
    &:hover {
      color: var(--secondary);
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-animation: jello-vertical 0.75s both;
	    animation: jello-vertical 0.75s both;
    }
  }
}

.project-picture {
  grid-column: 1 / 2;
  grid-row: 2 / 7;
  -ms-flex-item-align: center;
      align-self: center;
}

.project-picture img {
  height: 250px;
  width: auto;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  // @include respond-to('xl') {
  //   height: 250px;
  //   width: auto;
  //   -webkit-transition: 0.4s;
  //   transition: 0.4s;
  // }
}

.project-title {
  grid-column: 2 / 4;
  padding-top: 15px;
  font-family: 'Arvo', serif;
}

.project-description {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  width: 90%;
}

.project-tech {
  grid-column: 2 / 3;
  width: 100px;
  font-family: 'Arvo', serif;
}

.project-tech-description {
  grid-column: 3 / 4;
  width: 250px;
  padding-right: 10px;
}

.project-links {
  grid-column: 2 / 3;
  font-family: 'Arvo', serif;
}

.project-links-description {
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  & a {
    color: var(--primary);
    &:hover {
      color: var(--secondary);
    }
  }
}

//Animations

@keyframes fade-in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
