@import '../../../_mixins.scss';

.nav__container {
  background: white;
  position: fixed;
  // border-bottom-right-radius: 1rem;
  // border-top-right-radius: 1rem;
  height: 40%;
  width: 300px;
  // margin-top: 1rem;
  top: 20px;
  left: 20px;
  overflow-x: hidden;
  padding-top: 5rem;
  transition: 0.25s;
  z-index: 120;
  @include respond-to("small") {
    height: 35%;
    width: 21%;
  }
  @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      height: 30%;
  }
}
.nav__container--scrolled {
  background: whitesmoke;
}


.nav__navbar {
  background: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin: 2rem;
  transition: 0.25s;
  z-index: 120;
  @include respond-to("small") {
    margin-left: 2rem;
  }
}

.nav__link {
  color: var(--primary);
  margin: 2rem 1rem 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  transition: 0.25s;
  z-index: 120;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
  @include respond-to("small") {
    font-size: 1.6rem;
    margin: 2rem 1rem 1rem 2rem;
  }
  @include respond-to("mobile") {
    text-align: right;
    margin: 1.6rem;
    margin-right: 1rem;
  }
}

.nav__link--scrolled {
  color: var(--primary);
  &:hover {
    color: var(--secondary);
  }
}

.nav__scale-in-tl {
	-webkit-animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav__slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
