@import '../../_mixins.scss';
//New skills container with frontend and backend skills sections
.skills-display-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 550px;
  @include respond-to('medium') {
    flex-direction: column;
    height: auto;
    padding-bottom: 25px;
    width: 500px;
    margin: 0 auto;
  }
}
// skills list container with developer skills
.skills-title {
  background: var(--primary);
  & h4 {
    padding: 1rem;
    color: whitesmoke;
    font-family: 'Arvo', serif;
  }
}

.skills-container {
  width: 49%;
  text-align: left;
  list-style: none;
  margin-top: 25px;
  box-shadow: 0 0.5rem 1rem #d9d9d9;
  transition: 0.4s ease-in-out;
  @include respond-to('medium') {
    width: 500px;
  }
  & ul {
    list-style: none;
  }
  & li {
    padding-left: 1rem;
    margin: 0.25rem;
    font-size: 1.5rem;
  }
}

.skill-icon {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
