.skills-display-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 550px; }

@media (max-width: 800px) {
  .skills-display-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 25px;
    width: 500px;
    margin: 0 auto; } }

.skills-title {
  background: var(--primary); }

.skills-title h4 {
  padding: 1rem;
  color: whitesmoke;
  font-family: 'Arvo', serif; }

.skills-container {
  width: 49%;
  text-align: left;
  list-style: none;
  margin-top: 25px;
  box-shadow: 0 0.5rem 1rem #d9d9d9;
  transition: 0.4s ease-in-out; }

@media (max-width: 800px) {
  .skills-container {
    width: 500px; } }

.skills-container ul {
  list-style: none; }

.skills-container li {
  padding-left: 1rem;
  margin: 0.25rem;
  font-size: 1.5rem; }

.skill-icon {
  width: 30px;
  height: 30px;
  margin-right: 1rem; }
