.skills-display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: auto;
  height: 550px; }

@media (max-width: 800px) {
  .skills-display-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding-bottom: 25px;
    margin: 0 auto; } }

.skills-title {
  background: var(--primary); }

.skills-title h4 {
  padding: 16px;
  padding: 1rem;
  color: whitesmoke;
  font-family: 'Arvo', serif; }

.skills-container {
  width: 49%;
  text-align: left;
  list-style: none;
  margin-top: 25px;
  box-shadow: 0 0.5rem 1rem #d9d9d9;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

@media (max-width: 800px) {
  .skills-container {
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem; } }

.skills-container ul {
  list-style: none; }

.skills-container li {
  padding-left: 16px;
  padding-left: 1rem;
  margin: 4px;
  margin: 0.25rem;
  font-size: 24px;
  font-size: 1.5rem; }

.skill-icon {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  margin-right: 1rem; }
