.skills__title {
  background: var(--primary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center; }

.skills__title h4 {
  padding: 2rem;
  color: var(--tertiary);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; }

.skills__container {
  width: 45%;
  height: auto;
  text-align: left;
  list-style: none;
  margin: 5rem 0 2.5rem 0;
  padding-bottom: 2rem;
  box-shadow: 0 0.5rem 1rem #d9d9d9;
  border-radius: 1rem; }

.skills__container li {
  padding: 1rem; }

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.skill__icon {
  width: 5rem;
  height: 5rem; }

@media (max-width: 375px) {
  .skill__icon {
    width: 2rem;
    height: 2rem; } }
