@import "../../_mixins.scss";

.nav__container {
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  height: 40%;
  width: 300px;
  top: 20px;
  left: 20px;
  overflow-x: hidden;
  padding-top: 5rem;
  transition: 0.1s;
  z-index: 120;
  // @include respond-to("small") {
  //   height: 35%;
  //   width: 21%;
  // }
  // @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  //   height: 30%;
  // }
}
// .nav__container--scrolled {
//   background: whitesmoke;
// }

.nav__navbar {
  background: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin: 2rem;
  transition: 0.25s;
  z-index: 120;

}

.nav__link {
  color: var(--primary);
  // margin: 2rem 1rem 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  transition: 0.25s;
  z-index: 120;
  cursor: pointer;
  &:hover {
    color: var(--secondary);
    border-bottom: 2px solid var(--primary);
    // transition: 0.5s;
  }
  // @include respond-to("small") {
  //   font-size: 1.6rem;
  //   margin: 2rem 1rem 1rem 2rem;
  // }
  // @include respond-to("mobile") {
  //   text-align: right;
  //   margin: 1.6rem;
  //   margin-right: 1rem;
  // }
}

.nav__link--scrolled {
  color: var(--primary);
  &:hover {
    color: var(--secondary);
  }
}

.nav__animation {
  -webkit-animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.2, 0.45, 0.94) both;
  animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.46, 0.2, 0.94) both;
}



@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
