@import "../../_mixins.scss";

.nav__container {
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  height: auto;
  width: 90%;
  margin: 2rem;
  top: 4rem;
  overflow-x: hidden;
  // padding-top: 4rem;
  box-shadow: 0 0.5rem 18px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
  z-index: 120;
  li {
    list-style: none;
    width: 100%;
    color: var(--primary);
    border-bottom: 2px solid #eef1f6;
    &:hover {
      color: white;
      background-color: var(--primary);
      border-bottom: 2px solid var(--primary);
      transition: 0.25s;
    }
  }
  li:nth-child(4) {
    border: none;
  }
}

.nav__navbar {
  background: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin: 2rem;
  transition: 0.25s;
  z-index: 120;
}

.nav__link {
  color: inherit;
  margin: 1rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  transition: 0.25s;
  z-index: 120;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.nav__link--scrolled {
  color: var(--primary);
  &:hover {
    color: var(--secondary);
  }
}

.nav__animation {
  -webkit-animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.2, 0.45, 0.94) both;
  animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.46, 0.2, 0.94) both;
}



@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
