.nav__container {
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  height: auto;
  width: 25rem;
  margin: 2rem;
  top: 4rem;
  overflow-x: hidden;
  box-shadow: 0 0.5rem 18px rgba(0, 0, 0, 0.2);
  z-index: 120;
  -webkit-animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.2, 0.45, 0.94) both;
  animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.46, 0.2, 0.94) both; }

.nav__container li {
  list-style: none;
  width: 100%;
  color: var(--primary);
  border-bottom: 2px solid #eef1f6; }

.nav__container li:hover {
  background-color: #eef1f6;
  border-bottom: 2px solid #eef1f6; }

@media (max-width: 600px) {
  .nav__container li:hover {
    background-color: white; } }

.nav__container li:nth-child(4) {
  border: none; }

@media (max-width: 600px) {
  .nav__container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; } }

.nav__burger {
  background: transparent;
  overflow: hidden;
  position: fixed;
  top: 6rem;
  left: 2rem;
  margin-top: -4rem;
  transition: 0.25s;
  z-index: 120; }

.nav__link {
  color: inherit;
  margin: 1rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transition: 0.25s;
  z-index: 120;
  cursor: pointer;
  animation: slide-in-blurred-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both; }

.nav__link:hover {
  color: inherit; }

.nav__link div {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav__link span {
  width: auto;
  height: auto;
  margin-left: 1rem; }

.nav__link--scrolled {
  color: var(--primary); }

.nav__link--scrolled:hover {
  color: var(--secondary); }

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; } }

@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; } }
