@import "../../_mixins.scss";

#contact {
  background: white;
  height: 100vh;
  width: 100%;
  @include respond-to("small") {
    height: auto;
  }
}

.contact__title {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 3.2rem;
}

.contact__card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 80%;
}

.contact__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30rem;
  height: 20rem;
  margin: 0 auto;
  margin: 1rem;
  transition: 0.2s;
  border-radius: 1rem;
  i {
    margin-top: 20px;
  }
  h4 {
    font-size: 2.4rem;
  }
  p {
    font-size: 2rem;
  }
  a {
    text-decoration: none;
    color: var(--primary);
    -webkit-transition: 0.2s;
    transition: 0.2s;

    &:hover {
      color: var(--secondary);
      -webkit-transition: 0.2s;
      transition: 0.2s;
    }
  }
}

.contact-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  font-size: 4rem;
}

.social-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon {
  font-size: 48px;
  font-size: 3rem;
  margin: 8px;
  margin: 0.5rem;
}
