.contact-form__container {
  width: 75%;
  height: 75%;
  border-radius: 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.5rem 18px rgba(0, 0, 0, 0.2);
}