@import '../../../_mixins.scss';

// whole page container
#about {
  background: #f2f2f2;
}

.about__container {
  width: 90%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // align-items: flex-start;
  // width: auto;
  // margin: 0 auto;
  // @include respond-to('xl') {
  // width: 100%;
  // justify-content: center;
  // padding-left: 0px;
  // }
  // @include respond-to('large') {
  //   width: 95%;
  // }
  // @include respond-to('medium') {
  //   height: auto;
  // }
}
// picture and cv download button container

// .picture-cv-container {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
  
//   width: auto;
// }

.about__profile {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  @include respond-to('mobile') {
    width: 50px;
    height: 50px;
  }
}
.about__name {
  background: var(--primary);
  color: white;
  font-size: 2rem;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  & img {
    margin-right: 50px;
  }
}

.about__description-container {
  width: 90%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  // @include respond-to('xxl') {
  //   width: 700px;
  // }
  // @include respond-to('large') {
  //   text-align: center;
  //   margin-left: 0px;
  // }
  // @include respond-to('mobile') {
  //   width: 100%;
  // }
}

// .description-container-current-projects li {
//   margin-left: 50px;
//   font-size: 20px;
//   font-size: 1.25rem;
//   @include respond-to('xl') {
//     list-style: none;
//   }
//   @include respond-to('small') {
//     margin-left: none;
//   }
// }

// .description-container-current-projects a {
//   color: var(--primary);
//   &:hover {
//     color: var(--secondary);
//   }
// }

.about__paragraph-container {
  width: 100%;
  margin-top: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 @include respond-to('large') {
   align-items: center;
  }
}
.about__paragraph-container p {
  width: 80%;
  font-size: 1rem;
}
