#about {
  background: var(--bg); }

.about__container {
  width: 60%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  border: 1px solid red; }

.about__profile {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem; }

@media (max-width: 375px) {
  .about__profile {
    width: 5rem;
    height: 5rem; } }

.about__name {
  color: var(--primary);
  font-size: 5rem;
  font-weight: bold;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.about__name img {
  margin-right: 50px; }

.about__description-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out; }

.about__paragraph-container {
  width: 100%;
  margin-top: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

@media (max-width: 1065px) {
  .about__paragraph-container {
    align-items: center; } }

.about__paragraph-container p {
  width: 80%;
  font-size: 1rem; }
