#about {
  background: #f2f2f2; }

.about__container {
  width: 90%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.about__profile {
  width: 100px;
  height: 100px;
  border-radius: 100px; }

@media (max-width: 375px) {
  .about__profile {
    width: 50px;
    height: 50px; } }

.about__name {
  background: var(--primary);
  color: white;
  font-size: 2rem;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.about__name img {
  margin-right: 50px; }

.about__description-container {
  width: 90%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.about__paragraph-container {
  width: 100%;
  margin-top: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

@media (max-width: 1065px) {
  .about__paragraph-container {
    align-items: center; } }

.about__paragraph-container p {
  width: 80%;
  font-size: 1rem; }
