#about {
  background: var(--bg);
  height: auto;
  width: 100%; }

.about__container {
  width: 70%;
  margin: 0 auto;
  margin-top: 15rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  text-align: center; }

.about__container h1 {
  font-family: "Lora", serif;
  font-size: 3.2rem;
  position: relative; }

.about__container h2 {
  font-size: 3rem;
  font-weight: 100;
  line-height: 3rem; }

.about__profile {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  margin-bottom: 5rem; }

@media (max-width: 375px) {
  .about__profile {
    width: 5rem;
    height: 5rem; } }

.about__skills-container {
  width: 100%;
  display: flex;
  justify-content: space-between; }
