#home {
  width: 100%;
  overflow-x: visible; }

.home-container {
  background: url("../../../images/retro-computers.jpg") no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 5rem; }

@media (max-width: 375px) {
  .tagline-container {
    position: relative;
    top: -7.5rem;
    padding-left: 1%; } }

.tagline-container h2 {
  color: var(--tertiary);
  position: relative;
  text-align: left;
  z-index: 10; }

.tagline-container h2:nth-child(1) {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  bottom: -1rem; }

@media (max-width: 600px) {
  .tagline-container h2:nth-child(1) {
    font-size: 1.8rem; } }

.tagline-container h2:nth-child(2),
.tagline-container h2:nth-child(3) {
  font-family: "Lora", serif;
  font-size: 12.2rem;
  letter-spacing: 0.5rem; }

@media (max-width: 600px) {
  .tagline-container h2:nth-child(2),
  .tagline-container h2:nth-child(3) {
    font-size: 6rem; } }

.tagline-container h2:nth-child(3) {
  top: -5.5rem; }

@media (max-width: 600px) {
  .tagline-container h2:nth-child(3) {
    top: -3rem; } }

.tagline-container a {
  background: transparent;
  position: relative;
  color: white;
  border: none;
  border: 1px solid white;
  padding: 1rem;
  width: 125px;
  font-size: 2rem;
  border-radius: 0.5rem;
  transition: 0.25s; }

.tagline-container a:hover {
  transition: 0.25s;
  color: #111;
  background: rgba(255, 255, 255, 0.8); }

.tagline-container a:focus {
  outline: none; }

@media (max-width: 600px) {
  .tagline-container a {
    width: 100px;
    font-size: 1.8rem; } }

.tagline-container a:nth-child(5) {
  margin-left: 1rem; }
