.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5; }

.modal {
  position: fixed;
  z-index: 500;
  background: white;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media (max-width: 600px) {
  .modal {
    width: 80%; } }

.modal__grid {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin: 0 auto; }

.modal__close {
  color: var(--primary);
  text-align: center;
  padding: 1rem;
  transition: 0.25s; }

.modal__close i {
  color: var(--primary);
  font-size: 3rem;
  vertical-align: middle;
  cursor: pointer; }

.modal__close i:hover {
  color: var(--secondary);
  transition: 0.25s;
  animation: jello-vertical 0.75s both; }

.modal__project-picture img {
  height: 200px;
  width: 100%;
  align-items: center;
  object-fit: cover;
  transition: 0.25s; }

.modal__project-container {
  width: auto;
  height: auto;
  margin: 10%;
  text-align: center; }

.modal__project-container h1 {
  font-family: "Laro", serif; }

@media (max-width: 375px) {
  .modal__project-container h1 {
    font-size: 2rem; } }

.modal__project-container h2 {
  font-family: "Laro", serif; }

.modal__project-container p {
  font-size: 1.5rem; }

@media (max-width: 375px) {
  .modal__project-container p {
    font-size: 1.2rem; } }

.modal__project-title {
  font-family: "Laro", serif; }

.modal__button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem; }

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  position: relative;
  color: var(--tertiary);
  border: none;
  border: 1px solid var(--primary);
  padding: 1rem;
  width: 45%;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.25s; }

.modal__button:hover {
  transition: 0.25s;
  color: var(--tertiary);
  background: var(--secondary);
  border: 1px solid var(--secondary); }

.modal__button:focus {
  outline: none; }

.modal__button a {
  text-align: center; }

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1); }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1); }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
