.skills__title {
  background: var(--primary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 2rem;
  text-align: center; }

.skills__title h4 {
  padding: 2rem;
  color: var(--tertiary);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; }

.skills__container {
  width: 45%;
  height: auto;
  list-style: none;
  margin: 5rem 0 5rem 0;
  padding-bottom: 2rem;
  border-radius: 1rem; }

.skills__container li {
  padding: 2rem; }

@media (max-width: 600px) {
  .skills__container li {
    padding: 1rem; } }

@media (max-width: 600px) {
  .skills__container {
    width: 80%;
    margin: 2rem 0 1rem 0; } }

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.skill__icon {
  width: 5rem;
  height: 5rem; }

@media (max-width: 375px) {
  .skill__icon {
    width: 3rem;
    height: 3rem; } }
