.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1200px;
  padding-top: 50px;
  margin: 0 auto; }

@media (max-width: 1200px) {
  .about-container {
    width: auto;
    justify-content: center; } }

@media (max-width: 1000px) {
  .about-container {
    width: auto; } }

@media (max-width: 800px) {
  .about-container {
    height: auto; } }

.picture-cv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem #d9d9d9;
  transition: 0.4s ease-in-out; }

.cv-button {
  color: white;
  background: var(--primary);
  height: 60px;
  width: 200px;
  margin-top: 10px;
  border-radius: 1rem;
  font-size: 1.25rem;
  font-family: 'Arvo', serif;
  box-shadow: 0 0.2rem 1rem #d9d9d9;
  transition: 0.4s ease-in-out; }

.cv-button:hover {
  background-color: var(--secondary);
  cursor: pointer;
  transform: translate3d(0, -0.2rem, 0.2rem); }

.description-container {
  width: 700px;
  margin-bottom: 50px;
  margin-left: 50px;
  text-align: left;
  transition: 0.4s ease-in-out; }

@media (max-width: 1000px) {
  .description-container {
    text-align: center;
    margin-left: 0px; } }

.description-container h1 {
  color: var(--primary);
  font-family: 'Kristi', cursive;
  font-size: 7rem; }

.description-container h4 {
  font-family: 'Arvo', serif; }

.description-container p {
  font-size: 1.25rem; }

.description-container-current-projects li {
  margin-left: 50px;
  font-size: 1.25rem; }

@media (max-width: 1200px) {
  .description-container-current-projects li {
    list-style: none; } }

.description-container-current-projects a {
  color: var(--primary); }

.description-container-current-projects a:hover {
  color: var(--secondary); }

.paragraph-container {
  margin-top: 25px;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem #d9d9d9; }

@media (max-width: 800px) {
  .paragraph-container {
    flex-direction: column;
    height: auto;
    width: 500px;
    margin: 0 auto;
    margin-top: 25px; } }
