#contact {
  background: #f2f2f2;
  height: 120vh; }

@media (max-width: 800px) {
  #contact {
    height: 150vh; } }

.contact-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  height: 50vh; }

@media (max-width: 1000px) {
  .contact-container {
    display: grid;
    width: 800px;
    grid-template-columns: 20rem 20rem;
    grid-auto-rows: auto; } }

@media (max-width: 800px) {
  .contact-container {
    grid-template-columns: 20rem;
    width: auto;
    height: 80vh; } }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  width: 22rem;
  height: 16rem;
  margin: 2rem 0.5rem;
  box-shadow: 0 0.5rem 1rem #d9d9d9;
  transition: 0.4s ease-in-out; }

@media (max-width: 1200px) {
  .card-container {
    width: 18rem; } }

@media (max-width: 800px) {
  .card-container {
    margin-bottom: 0.25rem; } }

.card-container:hover {
  transform: translate3d(0, -0.5rem, 0.5rem); }

.card-container h4 {
  font-family: 'Arvo', serif;
  font-size: 2rem; }

.card-container p {
  font-family: 'Lato-Light', sans-serif;
  font-size: 1.25rem; }

.card-container a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.2s; }

.card-container a:hover {
  color: var(--secondary);
  transition: 0.2s; }

@media (max-width: 1000px) {
  .social-card {
    width: 38rem; } }

@media (max-width: 800px) {
  .social-card {
    width: 18rem; } }

.contact-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  font-size: 3rem; }

.social-icons-container {
  display: flex; }

.social-icon {
  font-size: 3rem;
  margin: 0.5rem; }
