@import url('https://fonts.googleapis.com/css?family=Caveat|Wire+One|Text+Me+One|Swanky+and+Moo+Moo|Reenie+Beanie');

// Screen Size Breakpoints
$breakpoints: (
  'small': 450px,
  'medium': 800px,
  'large': 1000px,
  'xl': 1200px
) !default;

// Mixin that responds to @include
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// CSS Reset
body, html, ul, li {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
section {
  height: auto;
}

/**************/
/*** NavBar ***/
/**************/
.navbar {
  background: linear-gradient(to bottom right, #7200b2, #b5009c);
  margin: 0 !important;

  transition: color 1s;
}
.navbar-center {
  text-align: center;
}
.brand {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 2rem;
  margin: 0;
  padding: 0;

}
.nav-link {
  font-size: 1.25rem;
  position: relative;
  margin-right: 1.25rem;
  color: #e5b3e2 !important;
  transition: 0.2s;
}
.nav-link:hover {
  color: white !important;
}
.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.nav-link:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(.8);
  transform: scaleX(.8);
}

// NavBar Color Change
.navbar-recolored {
  background: white;
}
.nav-link-recolored {
  color: #7200b2 !important;
  transition: 0.2s;
}
.nav-link-recolored:hover {
  color: #da99ff !important;
}
.nav-link-recolored:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #da99ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.nav-link-recolored:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(.8);
  transform: scaleX(.8);
}
.brand-recolored {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 24px;
  color: #7200b2 !important;
}

/**************/
/*** Titles ***/
/**************/
.title-container {
  text-transform: uppercase;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @include respond-to('medium') { padding-top: 75px; }
}

.title-container h1 {
  display: inline-flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 2px solid #7200b2;
  border-bottom: 2px solid #7200b2;
}

/*****************/
/*** Home Page ***/
/*****************************************************/
#home {
  @include respond-to('medium') {
    height: auto;
  }
}
.home-container {
  margin: 0 auto;
  background: url('./images/cactus.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-container h1, h2 {
  color: white;
}

/*** Contact Button on Home Page ***/
.contact-button {
  width: 200px;
  border-radius: 1em;
  transition: 0.5s;
  @include respond-to('medium') { width: 368px; }
}

/*** Blinking Cursor on Home Page ***/
.react-rotating-text-cursor {
  animation: blink 1.1s cubic-bezier(0.68, 0.01, 0.01, 0.99) infinite;
}

/******************/
/*** About Page ***/
/*****************************************************/
#about {
  @include respond-to('large') { height: auto; }
  @include respond-to('xl') { height: auto; }
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: auto;
}
.profile-picture {
  width: 400px;
  height: 400px;
  border-radius: 500px;
  padding: 1rem;
  margin: 3rem;
  box-shadow: 0 1rem 2rem #888888;
  transition: 0.5s;
}
.description-container {
  width: 400px;
  margin-top: 3rem;
  padding: 1rem;
  text-align: right;
  box-shadow: 0 0.5rem 1rem #888888;
  transition: 0.5s;
  @include respond-to('medium') { text-align: center;}
}
.skills-list-container {
  width: 400px;
  margin-top: 3rem;
  padding: 1rem;
  text-align: left;
  list-style: none;
  box-shadow: 0 0.5rem 1rem #888888;
  transition: 0.4s ease-in-out;
  @include respond-to('medium') {
    width: auto;
  }
}
.skills-list-container:hover {
  transform: translate3d(0, -0.5rem, 1rem);
}
.skills-list-container ul li {
  list-style: none;
}
.skills-list-container li {
  margin: 1rem;
  font-size: 1.5rem;
}
.skill-icon {
  margin-right: 1rem;
}
.cv-button-container {
  width: 400px;
  display: flex;
  justify-content: center;
  @include respond-to('medium') {  width: auto; }
}
.cv-button {
  background: #7200b2 !important;
  height: 60px;
  width: 300px;
  font-size: 20px;
  box-shadow: 0 0.2rem 1rem #888888;
  transition: 0.4s ease-in-out;
}
.cv-button:hover {
  transform: translate3d(0, -0.5rem, -1rem);
}
.cv-button a {
  color: white;
}

/*********************/
/*** Projects Page ***/
/*****************************************************/
.projects-container {
  display: grid;
  width: 66rem;
  margin: 0 auto;
  margin-top: 1rem;
  justify-items: center;
  grid-template-columns:
    [first] 1fr
    [second] 1fr
    [third] 1fr;
  grid-template-rows:
    [first] 16rem
    [second] 16rem;
  @include respond-to('large') { width: 52rem; }
  // @include respond-to('medium') { width; }
  transition: 0.4s;
}
.project-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: auto;
  transition: 0.4s;
  @include respond-to('large') { width: 18rem; }
  @include respond-to('medium') { margin-bottom: 0.25rem; }
}
.project-grid:hover {
  box-shadow: rgba(114, 0, 178, 0.2) 0 0 0 8rem inset, 0 0.2rem 1rem #888888;
  transition: 0.2s;
}
.project-grid:after{
  content: "";
  width: 80%;
  height: 80%;
  display: block;
  font:  4rem 'Reenie Beanie' ;
  color: white;
  border: 4px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}
.project-grid:hover:after {
  opacity: 0.5;
  transition: 0.4s;
}
#project-grid-1 {
  background: url('./images/cactus.jpg') no-repeat center center;
  background-size: cover;
}
#project-grid-2 {
  background: url('./images/comp-on-desk.jpg') no-repeat center center;
  background-size: cover;
}
#project-grid-3 {
  background: url('./images/sky-river.jpg') no-repeat center center;
  background-size: cover;
}
#project-grid-4 {
  background: url('./images/starry-night.jpg') no-repeat center center;
  background-size: cover;
}
#project-grid-5 {
  background: url('./images/lily-flower.jpg') no-repeat center center;
  background-size: cover;
}
#project-grid-6 {
  background: url('./images/computer.jpg') no-repeat center center;
  background-size: cover;
}
#project-grid-1:after {
  content: "Mug Club";
}
#project-grid-2:after {
  content: "Vie du Vin";
}
#project-grid-3:after {
  content: "Traveleritis";
}
#project-grid-4:after {
  content: "Pokedex";
}
#project-grid-5:after {
  content: "My Portfolio";
}
#project-grid-6:after {
  content: "Project 6";
}


/********************/
/*** Contact Page ***/
/*****************************************************/
#contact {
  @include respond-to('xl') { height: 120vh; }
  @include respond-to('large') { height: 120vh; }
  @include respond-to('medium') { height: 120vh; }
}
.contact-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  @include respond-to('large') {
    display: grid;
    width: 800px;
    grid-template-columns: 20rem 20rem;
    grid-auto-rows: auto;
  }
  @include respond-to('medium') {
    grid-template-columns: 20rem;
    width: auto;
  }
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 22rem;
  height: 16rem;
  margin: 2rem 0.5rem 2rem 0.5rem;
  box-shadow: 0 0.5rem 1rem #888888;
  transition: 0.4s ease-in-out;
  @include respond-to('xl') { width: 18rem; }
  @include respond-to('medium') { margin-bottom: 0.25rem; }
}
.card-container:hover {
  transform: translate3d(0, -0.5rem, 1rem);
}
.social-card {
  @include respond-to('large') { width: 38rem; }
  @include respond-to('medium') { width: 18rem; }
}
.contact-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  font-size: 3rem;
}
.social-icons-container {
  display: flex;
}
.social-icon {
  font-size: 3rem;
  margin: 0.5rem;
}

/**************/
/*** Footer ***/
/*****************************************************/
.footer {
  margin-top: 2rem;
}

/******************/
/*** Animations ***/
/*****************************************************/
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
