@import url("https://fonts.googleapis.com/css?family=Caveat|Wire+One|Text+Me+One|Swanky+and+Moo+Moo|Reenie+Beanie");
/* Reset */
body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

section {
  height: 100vh; }

/**************/
/*** NavBar ***/
/**************/
.navbar {
  background: linear-gradient(to bottom right, #7200b2, #b5009c);
  margin: 0 !important;
  transition: 0.2s; }

.navbar-center {
  text-align: center; }

.brand {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 2rem;
  margin: 0;
  padding: 0; }

.nav-link {
  font-size: 1.25rem;
  position: relative;
  margin-right: 1.25rem;
  color: #e5b3e2 !important;
  transition: 0.2s; }

.nav-link:hover {
  color: white !important; }

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.nav-link:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8); }

/* Color Change */
.navbar-recolored {
  background: white; }

.nav-link-recolored {
  color: #7200b2 !important;
  transition: 0.2s; }

.nav-link-recolored:hover {
  color: #da99ff !important; }

.nav-link-recolored:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #da99ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.nav-link-recolored:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8); }

.brand-recolored {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 24px;
  color: #7200b2 !important; }

/*****************/
/*** Home Page ***/
/*****************/
.home-container {
  margin: 0 auto;
  background: url("./images/patterned-colors.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.home-container h1, h2 {
  color: white; }

/*** Contact Button on Home Page ***/
.contact-button {
  width: 200px;
  border-radius: 1em;
  transition: 0.5s; }

.contact-button:hover {
  background: transparent; }

/*Adjust button size upon screen resizing*/
@media (max-width: 768px) {
  .contact-button {
    width: 368px;
    transition: 0.5s; } }

/*** Blinking Cursor on Home Page ***/
.react-rotating-text-cursor {
  animation: blink 1.1s cubic-bezier(0.68, 0.01, 0.01, 0.99) infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/******************/
/*** About Page ***/
/******************/
#about h1 {
  padding-top: 100px; }

/*********************/
/*** Projects Page ***/
/*********************/
#projects h1 {
  padding-top: 100px; }

/********************/
/*** Contact Page ***/
/********************/
#contact h1 {
  padding-top: 100px; }

.contact-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 50%; }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25rem;
  height: 15rem; }

.contact-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  font-size: 2rem; }

.social-icons-container {
  display: flex; }

.social-icon {
  font-size: 3rem;
  margin: 0.5rem; }
