@import url('https://fonts.googleapis.com/css?family=Lato+Light|Kristi|Arvo');

:root {
  --primary: #7200b2;
  --secondary: #da99ff;
  --bg: white;
}
// Screen Size Breakpoints
@import './_mixins.scss';
// CSS Reset
body,
h1,
html,
li,
ul {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}
/**************/
/*** Titles ***/
/**************/
.title-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @include respond-to('medium') {
    padding-top: 75px;
  }
}

.title-container h1 {
  font-family: 'Arvo', serif;
  font-size: 3rem;
  display: inline-flex;
  padding-bottom: 0.5rem;
}

.title-container h1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
