@import url('https://fonts.googleapis.com/css?family=Caveat|Wire+One|Text+Me+One|Satisfy|Reenie+Beanie');

/* Reset */
body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/***************************/
/*** Parallax Background ***/
/***************************/
.main-container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.parallax-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-5px) scale(6);
  z-index: -1;
  background: url("./images/patterned-colors.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  margin-left: -38px;
}

.parallax-container h1, h3 {
  text-align: center;
  letter-spacing: 2px;
  margin: auto 0;
  color: white;
  font-family: 'Wire One', sans-serif;
}

.parallax-container h1 {
  font-size: 10vw;
}

.parallax-container h3 {
  font-size: 10vw;
}

/********************/
/*** Introduction ***/
/********************/
.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: whitesmoke;
}

/**************/
/*** NavBar ***/
/**************/
.navbar-default {
  background: #b5009c;
}
.nav-item {
  color: white;
}
